<p id="notice"><%= notice %></p>

<%= link_to 'New User', new_user_path,  class:"btn btn-info" %>&nbsp;&nbsp;

<%= link_to '', edit_user_path(@user),  class:"fa fa-edit fa-2x"%> &nbsp;&nbsp;
<%= link_to '', users_path, class:"fa fa-home fa-2x" %>
