<h1>Editing Project</h1>

<%= render 'form' %>

    
    <a href="<%= project_path %>" class="btn btn-raised">See project details &nbsp;<i class="material-icons md-18">fingerprint</i></a>
      &nbsp;&nbsp; 
    <a href="<%= projects_path %>" class="btn btn-raised"><i class="material-icons md-18">home</i></a>
