

<p id="notice"><%= notice %></p>
 
 
<div class="page-header" align="center" id="banner">
<div class="row">
<div class="col-sm-6">
<h1>mHealth Labs Project Deck</h1>
<p class="lead">The current projects underway, approved by the mHealth executive committee, updated in real-time</p>
</div>

<div class="col-sm-6">
<p>

<small style="color:#4caf50">&nbsp; completed</small>
<small style="color:#03a9f4">&nbsp; active</small>

</p></div>
</div></div>


<div class="row"><p><br></p></div>

<!--<div class="row">-->
<!--    <ul class="nav nav-pills">-->
<!--        <li class="active"><a href="#">Approved<span class="badge">42</span></a></li>-->
<!--    </ul>-->
<!--    <div id="source-button" class="btn btn-primary btn-xs" style="display:none;">< ></div>-->
<!--</div>-->




  
 
<% allcompletedprojects = @projects.where(completed: true).order(datecreated: :desc) %>
<% allactiveprojects = @projects.where(active: true).order(datecreated: :desc) %>


<div class="row">
    <a href="" class="btn btn-raised btn-success">Completed</a>
  
  </div>

<div class="row">

<% allcompletedprojects.each do |project|%>
<% if project.exists %>
 <div class="col-sm-6"> 
 <%= render "project", project: project %>

 </div>
 <% else %>
 <% end %> <!-- closes if exists statement -->
 <% end %> <!-- closes projects loop -->    
      
</div> 
     
 <div class="row">
     <a href="" class="btn btn-raised btn-info">Active</a>

   </div>

 <div class="row">

 <% allactiveprojects.each do |project|%>
 <% if project.exists %>
  <div class="col-sm-6"> 
  <%= render "project", project: project %>

  </div>
  <% else %>
  <% end %> <!-- closes if exists statement -->
  <% end %> <!-- closes projects loop -->    
  
 </div> 
 
    </body>
    
    
  
 <!--<%= link_to 'New Project', new_project_path %>-->
